<%= form_tag url: create_group_path do |f| %>
  <%= text_field_tag :group_name, nil, placeholder: "Group name" %>
  <%= submit_tag "Create group", name: nil, class: 'btn btn-primary' %>
<% end %>
<hr/>
<h3>My groups</h3>
<% @my_groups.each do |g| %>
  <%= render 'groups/group', group: g, my_group: true %>
<% end %>
<hr/>
<h3>All groups</h3>
<% @all_groups.each do |g| %>
  <%= render 'groups/group', group: g, my_group: false %>
<% end %>
