<div class="card card-post">

<p>
  <strong><%= post.category.name.capitalize+" - " if display_category.present? %>
    <%= post.title %></strong>
  <span style="float: right">
    <%= post.created_at.to_s %>
  </span>
</p>

<p>
  <%= post.body %>
</p>

<%= link_to 'Show', post if link_show.present? %>
<% if current_user == post.user %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
