<div class="sidenav">
  <div class="sidenav-header">Friends</div>
  <% current_user.friends.each do |friend| %>
    <div class="sidenav-item">
      <%# calls openChat() on click event, sending id and name %>
      <a href="#" onclick="createNormalChat(<%=friend.id%>, '<%=friend.full_name%>')"><span class="fas fa-comment"></span></a>
      <a href="<%= remove_friend_path(friend) %>"><span class="fas fa-times"></span></a>
      <%= link_to friend.full_name, friend %>
    </div>
  <% end %>

  <div class="sidenav-header">Pending</div>
  <% current_user.friends_pending_received.each do |user| %>
    <div class="sidenav-item">
      <a href="<%= accept_friend_request_path(user) %>"><span class="fas fa-check"></span></a>
      <a href="<%= decline_friend_request_path(user) %>"><span class="fas fa-times"></span></a>
      <%= link_to user.full_name, user %>
    </div>
  <% end %>

  <div class="sidenav-header">Groups</div>
  <% current_user.groups.each do |group| %>
    <div class="sidenav-item">
      <a href="#" onclick="createGroupChat(<%=group.id%>, '<%=group.title%>')"><span class="fas fa-comments"></span></a>
      <a href="<%= 'leavegroup' %>"><span class="fas fa-sign-out-alt"></span></a>
      <a href="#" onclick="createGroupChat(<%=group.id%>, '<%=group.title%>')"><%= group.title %></a>
    </div>
  <% end %>

  <div class="sidenav-header">All</div>
  <% current_user.friends_pending_sent.each do |user| %>
    <div class="sidenav-item">
      <a href="#"><span class="fas fa-user-clock"></span></a>
      <%= link_to user.full_name, user %>
    </div>
  <% end %>
  <% current_user.not_friends.each do |user| %>
    <div class="sidenav-item">
      <a href="<%= send_friend_request_path(user) %>"><span class="fas fa-user-plus"></span></a>
      <%= link_to user.full_name, user %>
    </div>
  <% end %>

</div>
