<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "ErgasiaOnRails" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', logout_path %></li>
        <li><%= link_to 'Posts', posts_path %></li>
      <% else %>
        <li><%= link_to 'Login', login_page_path %></li>
        <li><%= link_to 'Register', register_page_path %></li>
      <% end %>
    </header>

    <%= render 'layouts/messages' %>

    <div class="main" style="<%= "margin-right:0px" unless user_signed_in? %>">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
    <div class="sidenav">
      <div class="sidenav-header">Friends</div>
      <a href="#">user1</a> <!-- TODO -->
      <a href="#">user2</a> <!-- TODO -->
      <a href="#">user3</a> <!-- TODO -->
      <div class="sidenav-header">All</div>
      <% User.all.each do |user| %>
      <%= link_to user.full_name, user %>
      <% end %>
    </div>
    <% end %>

  </body>
</html>
